@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Montserrat&family=Neuton&family=Noto+Sans&family=Nunito&family=Roboto+Slab&family=Source+Sans+Pro&family=Space+Mono&family=Trocchi&family=Work+Sans&display=swap');

@keyframes appear {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes appearSimple {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
